.fx-ripple {
  animation: ripple 4s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes ripple {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    r: 20;
  }
  100% {
    opacity: 0;
    r: 15;
  }

}
