@import './effects';

$blue: #07C1E4;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face {
  font-family: 'ciscosansthin';
  src: url('../assets/CiscoSansTTLight.woff');
}

@font-face {
  font-family: 'ciscosansregular';
  src: url('../assets/CiscoSansTTRegular.woff');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* position: fixed; to prevent bounce */
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: ciscosansthin;
  background: #333;
}

#app {
  width: 600px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

button {
  outline: none;
  cursor: pointer;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.search {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  align-items: center;
  flex-shrink: 0;
  padding: 10px;

  input {
    flex-grow: 1;
  }

  input {
    font-size: 30px;
    padding: 10px;
    outline: 0;
    border-radius: 10px;
    color: #666;
    border: 1px solid #ccc;
  }

  .clear {
    position: absolute;
    top: 15px;
    width: 50px;
    line-height: 50px;
    height: 50px;
    color: #aaa;
    right: 18px;
    font-size: 30px;
    cursor: pointer;
  }
}

.map {
  padding-top: 20px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);

  &.empty { display: none }

  .map-name {
    font-size: 20px;
    color: #666;
    margin: 10px 0;
    text-transform: uppercase;
  }
  .avatar {
    clip-path: circle(50% at center);
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.5s;
  }
}


.nav-bar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  background-color: #eee;
  border-top: 1px solid #ccc;

  .button {
    cursor: pointer;
    flex-grow: 1;
    padding-top: 74px;
    color: black;
    opacity: 0.6;
    background-position: center 20px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    font-size: 16px;
    text-transform: capitalize;
  }

  .button.selected {
    opacity: 1;
    color: $blue;
  }
}

.legend {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .ball {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid white;
    margin-left: 50px;
    margin-right: 5px;
  }
}

.floor-box {
  text-align: center;
  padding: 24px 0;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.floor-name {
  text-align: center;
  margin-bottom: 30px;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.floor {
  height: 100px;
  width: calc(100% - 60px);
  margin: 0 30px 24px;
  background-size: 100% 100%;
  position: relative;
}

.room-marker {
  position: absolute;
  font-size: 17px;

  .point, .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid white;
  }
  .point::before {
    content: '';
    position: absolute;
    top: 19px;
    left: -3px;
    width: 22px;
    height: 10px;
    background-image: url('../assets/arrow.png');
    background-size: 22px 10px;
    opacity: 0.8;
  }
  &.above .point::before {
    transform: rotate(180deg);
    transform-origin: center;
    top: -15px;
  }
  .shadow {
    transform-origin: center;
    border: 0;
  }
  .room-name {
    position: absolute;
    top: 29px;
    background: rgba(0, 0, 0, 0.7);
    white-space: nowrap;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
  }
  &.above .room-name {
    top: -41px;
  }
}

.logo {
  margin: 20px;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 130px;
  position: relative;
  background: $blue;

  .ring {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 160px;
    width: 160px;
    border: 13px solid white;
    border-radius: 80px;
    background-color: transparent;
  }
}

.available {
  background-color: #30d557;
}
.unavailable {
  background-color: #ff7133;
}
.unknown {
  background-color: #999;
}
.person-marker {
  background-color: $blue;
}

.scrollable {
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.room-details {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;

  tr {
    margin: 0;
  }

  td {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #999;
  }
}

.section-header {
  background-color: #efeff4;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 60px 30px 12px;
  text-align: left;
  color: #666;
  text-transform: uppercase;
}

.section-info {
  background-color: #efeff4;
  padding: 40px 30px;
  text-align: left;
  color: #666;
  line-height: 1.5;
}

.room-list {
  .legend {
    background-color: #efeff4;
  }
  .row {
    margin-left: 30px;
    padding-right: 30px;
    width: calc(100% - 30px);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
    min-height: 60px;
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;

    .avatar {
      height: 100px;
      width: 100px;
      background: #f3f3f3;
      -webkit-clip-path: circle(50% at center);
    }
    .name {
      flex-grow: 1;
    }
    .floor-label {
      color: #666;
      font-size: 16px;
    }
  }
}

.notice {
  color: red;
}

.room-icons {
  display: flex;
  align-items: center;
  color: #999;
  font-size: 18px;
  div {
    margin: 10px;
  }
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  flex-grow: 0;
}

ul {
  text-align: left;
}

.stats {
  .row {
    display: flex;
    margin-top: 5px;
    border-bottom: 1px solid #e5e5e5;

    .name {
      width: 20%;
      padding-top: 17px;
      white-space: nowrap;
      overflow: hidden;
      font-size: 15px;
      text-overflow: ellipsis;
    }
  }
}

.persons.row {
  justify-content: flex-start;
  .avatar {
    margin-right: 40px;
  }
}

.back-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 24px;
  background: #eee;

  .edit-button, .back-button {
    width: 60px;
    height: 60px;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .edit-button {
    border-radius: 30px;
    background-color: white;
    border: 1px solid $blue;
    background-image: url('../assets/edit-blue.svg');
  }
  .edit-button.selected {
    width: 60px;
    height: 60px;
    background-color: $blue;
    background-image: url('../assets/check.svg');
    border: 1px solid white;
  }
  .back-button {
    border: 0;
    background-color: transparent;
    background-image: url('../assets/left-arrow.svg');
  }
}

.person-details {
  display: flex;
  flex-direction: column;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    font-size: 30px;
  }
  .name {
    flex-grow: 1;
    text-align: left;
    margin: 40px;
  }
  .email {
    margin: 10px 0;
    color: #666;
    font-size: 20px;
  }
  .avatar {
    width: 160px;
    -webkit-clip-path: circle(50% at center);
  }
  .room-marker {
    pointer-events: none; /* prevent target problems when editing location */
  }
  .floor-button {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    margin: 7px;
    padding: 0px;
    color: $blue;
  }
  .floor-button.selected {
    background: $blue;
    color: white;
    border-radius: 5px;
    padding: 7px 10px;
  }

}

.screen {
  background: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.help-popup {
  max-width: 80%;
  background: white;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  text-align: center;
  line-height: 150%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;

  .image {
    width: 200px;
    height: 200px;
    background-image: url('../assets/meeting-room.png');
    background-size: 100% 100%;
    margin: 20px 0 40px;
  }

  .status {
  }

  .text {
    text-align: left;
  }
  .row {
    display: flex;
    margin-top: 30px;
    align-items: center;
  }
  .ball {
    margin: 10px;
  }
  button {
    margin: 40px 0 0;
    font-size: 30px;
    border: 0;
    background: transparent;
    color: $blue;
  }
}

.selector-button {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  margin: 15px 20px;
  padding: 0px;
  color: $blue;
}
.selector-button.selected {
  background: $blue;
  color: white;
  border-radius: 5px;
  padding: 7px 10px;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;

  .logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/meeting-room.png');
    background-size: 100% 100%;
    margin: 50px;
    background-color: transparent;
    flex-shrink: 0;
  }
  .section-header {
    text-align: left;
    padding: 20px 30px;
  }
  .row {
    text-align: left;
    line-height: 150%;
    padding: 20px 30px 40px 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  a {text-decoration: underline}
}

.feedback {
  font-size: 25px;

  input, textarea, button {
    display: block;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
    font-size: 16px;
  }
  textarea {
    height: 100px;
  }
  button {
    background-color: $blue;
    color: white;
    border: 0;
    padding: 10px;
  }
}

.info-block {
  display: none;
}

/* for big screen displays (non-phone) */
@media (min-width: 950px) {
  #app {
    width: 100%;
  }

  .screen {
    background: #EFEFEF;
  }

  .map.empty {
    display: block; /* dont hide on big screen */
  }

  .search {
    border: 0;
    display: flex;
    justify-content: center;
  }

  .search input {
    background: #dcdcdc;
    color: #666;
    width: 31%;
    border-radius: 5px;
    font-size: 15px;
    border: 0;
    flex-grow: 0;
  }

  .search .clear {
    top: 8px;
    font-size: 25px;
  }

  .nav-bar  { display: none }

  .legend {
    position: absolute;
    top: 16px;
    left: 28px;
    text-align: left;
    width: auto;
    font-size: 15px;

    .ball {
      margin: 8px;
    }
  }

  .floor-plan {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 30px;
    align-content: flex-start;
  }

  .map {
    position: relative;
    width: calc(33% - 7px);
    padding: 0;
    border: 1px solid #eee;
    margin: 5px;
    border-radius: 5px;
    box-shadow: none;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;

    .map-name {
      position: absolute;
      font-size: 12px;
      bottom: 5px;
      right: 5px;
      background-color: #858585;
      color: white;
      padding: 5px;
      border-radius: 5px;
      margin: 0;
      text-transform: none;
    }
  }
}
